/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Client Brand Colors
# Login Screen Specific
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Client Brand Colors
--------------------------------------------------------------*/
$background-color:purple;

/*--------------------------------------------------------------
# Login Screen Specific
--------------------------------------------------------------*/
body {
  background:$background-color !important;

  #login {
    background:none;

    h1 {

      a {
        width:292px;
        background-size:292px;
        background-image:url(https://dummyimage.com/300x80/9c9c9c/fff.png&text=logo) !important;
      }
    }
  }
}