/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Client Brand Colors
# Login Screen Specific
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Client Brand Colors
--------------------------------------------------------------*/
$background-color:purple;

/*--------------------------------------------------------------
# Login Screen Specific
--------------------------------------------------------------*/
body {
  background:$background-color !important;

  #login {
    background:red;

    h1 {

      a {
        background-image:url(https://dummyimage.com/80x80/9c9c9c/fff.png&text=notes) !important;
      }
    }
  }
}