/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Client Brand Colors
# Social Brand Colors
# Mixins
# Normalize
# Header
# Menu - Desktop and Mobile
# Home Page Specific
# User Profile
# WooCommerce Product
# Content
# Sidebar
# Page Specific Content
# Sidebar
# Alignments
# Responsive Video Wrapper & Video Object
# Scroll To Top
# Footer
# Vendor Specific
# Responsive (iphone/android)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Client Brand Colors
--------------------------------------------------------------*/
//colors here
$error_red:#FF7878;

/*--------------------------------------------------------------
# Social Brand Colors
--------------------------------------------------------------*/
$facebook_brand_color_blue:#3b5998;
$twitter_brand_color_blue:#1da1f2;
$youtube_brand_color_red:#cd201f;
$instagram_brand_color:#833ab4;
$pinterest_brand_color:#bd081c;

/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}
@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}
@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}
@mixin mobile_width_float_margin {
  float:left;
  width:100%;
  margin:0;
}
@mixin image_responsive {
  img {
    width:100%;
    height:auto;
  }
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin ul-list-no-margin {
  margin:0;
  padding:0;
}
@mixin ul-li-last-item-no-margin {
  &:last-child {
    padding:0;
    margin:0;
  }
}
@mixin ul-no-list-style {
  list-style-type:none;
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin border-radius($border) {
  -webkit-border-radius:$border;
  -moz-border-radius:$border;
  border-radius:$border;
}
@mixin font-awesome-declaration($type, $unicode, $size, $margin, $color, $weight) {
  @if $type == 'after'{
    &:after {
      content:$unicode;
      font-family:"FontAwesome";
      font-size:$size;
      color:$color;
      font-weight:$weight;
      margin:$margin;
      @content;
    }
  }
  @if $type == 'before' {
    &:before {
      content:$unicode;
      font-family:"FontAwesome";
      font-size:$size;
      color:$color;
      font-weight:$weight;
      margin:$margin;
      @content;
    }
  }
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body {
  margin:0;
  padding:0;
  font-family:sans-serif;
}

ul {
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  margin:0 0 0.500em 0;
  padding:0;
}

a {
  color:blue;
  outline:none;
  text-decoration:none;
}

.wrapper {
  margin:auto;
  float:none;
  max-width:1290px;
  display:block;
}

.pdf_link:after {
  content:"";
  background:url(../images/preload/pdf_link.png) center right no-repeat;
  padding:0 1em 0 0.5em;
  white-space:nowrap;
}

.doc_link:after {
  content:"";
  background:url(../images/preload/word_link.png) center right no-repeat;
  padding:0 1em 0 0.5em;
  white-space:nowrap;
}

.button_link {
  background:orange;/*TODO:change later*/;
  padding:0.438em 1.250em;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  color:white !important;
  -webkit-border-radius:0.250em;
  -moz-border-radius:0.250em;
  border-radius:0.250em;

  &:hover {
    transition:background 0.7s ease;
    background:orange;/*TODO:change later*/;
  }
}

.bold {
  font-weight:900;
}

.telephone_link {
  font-weight:normal;
  color:white;
  text-decoration:none;
}

.mobile_only {
  display:none;

  @include bp-small {
    display:block;
  }
}

.row {
  @include image_responsive;
  float:left;
  width:100%;
}

.left {
  float:left;
}

.right {
  float:right;
}

.button {
  @include border-radius(0.66em);
  background:black;
  color:white;
  padding:0.54em 0.8em;
  text-align:center;
  border:none;
  outline:none;
  font-weight:500;
  cursor:pointer;
  font-size:0.9em;

  &:hover {
    @include transition(background 800ms);
    background:purple;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  float:left;
  width:100%;
  padding:2em 0;

  #logo {
    width:auto;
    float:left;
  }

  #menu {
    float:right;

    ul {
      @include ul-no-list-style;
      margin:1em 0 0 0;

      li {
        @include ul-li-last-item-no-margin;
        margin:0 1em 0 0;
        float:left;
      }
    }
  }

  &#internal {
    border-bottom:0.022em solid #ccc;
  }
}

/*--------------------------------------------------------------
# Menu - Desktop and Mobile
--------------------------------------------------------------*/
#search_mobile {
  display:none;
}

#menu_close {
  display:none;
  float:right;
  right:2%;
  outline:none;
  border:none;
  background:none;

  &::after {
    content:"\f057";
    font-family:"FontAwesome";
    font-size:2.934em;
    color:$error_red;
  }

  @include bp-small {
    display:block;
  }
}

#menu_btn {
  background:none;
  float:right;
  outline:none;
  display:none;
  margin:0;
  top:4em;
  right:2%;
  border:none;
  position:absolute;

  &::after {
    content:"\f0c9";
    font-family:"FontAwesome";
    font-size:2.934em;
    color:$error_red;
    float:left;
  }

  @include bp-small {
    display:block;
  }
}

#menu {
  float:right;
  width:auto;
  clear:both;
  margin:-1em 0 0 0;//@TODO:not most elegant;fix later

  @include bp-small {
    background:$error_red;
    width:100%;
    height:576px;
    float:left;
    position:absolute;
    top:7%;
    z-index:999;
  }

  .menu {
    //@include ul-no-list-style;@TODO:create mixin later

    li {
      display:inline-block;
      margin:0 1.3em 0 0;
      position:relative;

      a {
        font-size:1em;
        color:gray;/*TODO:change later*/;
      }

      //@include ul-li-last-item-no-pad;@TODO:create mixin later

      &:hover {

        &  > .sub-menu {
          display:block;
        }
      }

      &.current_page_item {

        a {
          color:yellow; //@TODO:change to brand color later
        }
      }
    }

    .sub-menu {
      display:none;
      position:absolute;
      background:#096cc8;
      border:1px solid #ccc;
      padding:0;
      width:200px;
      z-index:2;

      @include bp-small {
        background:none;
        position:relative;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        width:100%;
        margin:0.5em 0 0 0;
        float:left;
        padding:0.5em 0;
      }

      li {
        display:block;
        float:left;
        padding:0.5em 0 0.5em 0.5em;
        width:95%;
        border-bottom:1px solid white;

        @include bp-small {
          width:100%;
          border:none;
          padding:0;
          margin:0;
        }

        a {
          color:white;

          &:hover {
            text-decoration:none;
            color:black;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Home Page Specific
--------------------------------------------------------------*/
#product_banner {
  @include image_responsive;
  float:left;
  width:100%;
  position:relative;

  #cta_headline {
    bottom:3em;
    width:80%;
    margin:auto;
    position:absolute;
    right:0;
    left:0;

    h2 {
      color:white;
      font-size:2em;
      text-align:center;
      margin:0;
      padding:0;
      font-weight:100;
    }
  }
}

#under_header_two_boxes {

  .left, .right {
    width:49.9%;
    //position:absolute;
  }
}

#home_slider {
  float:left;
  width:100%;

  ul {
    @include ul-no-list-style;

    li {
      @include image_responsive;
      width:300px;
      float:left;
      margin:0 1em 0 0;
    }
  }
}

.button_block {
  float:none;
  width:140px;
  right:0;
  left:0;
  margin:auto;
  position:relative;
  bottom:16em;

}

.home_button { //@TODO:at some point move this into globalized
  @include border-radius(1em);
  color:white;
  font-size:1em;
  text-align:center;
  border:0.111em solid white;
  padding:0.5em 1em;

  &:hover {
    @include transition(background 800ms ease);
    background:white;
    color:#333;
  }
}

/*--------------------------------------------------------------
# User Profile
---------------------------------------------------------------*/
#profile {
  display:block;
  margin:3em 0 0 0;

  #edit_profile {
    display:block;
    width:100%;
    margin:1em 0 0 0;

    a {
      @include font-awesome-declaration('before','\f040',1em,0 0.4em 0 0,black,null );
      font-size:1em;
    }
  }

  .left {
    width:30%;

    #profile_image {
      @include image_responsive;
      margin:0 0 1em 0;
    }

    #profile_name {
      font-size:1.8em;
      font-weight:500;
      margin:0 0 0.2em 0;
    }

    #profile_location {
      font-size:0.91em;
      font-style:italic;
      margin:0 0 0.999em 0;
    }

    #profile_category {
      @include ul-no-list-style;

      li {
        @include font-awesome-declaration('after', ', ', 1em, 0 0.22em 0 0, black, null );
        display:inline-block;
        width:auto;
      }
    }
  }

  .right {
    width:60%;

    section {
      margin:0 0 3em 0;

      .section_title {
        padding:0.5em 0;
        margin:0 0 0.5em 0;
        background:black;

        .title {
          font-size:1.2em;
          color:white;
          padding:0 0 0 0.5em;
          text-align:left;
        }
      }

      .content {
        display:block;
        margin:auto;
        width:95%;
      }

      #gallery_items {
        @include ul-no-list-style;

        li {
          @include image_responsive;
          width:23%;
          margin:0 0.5em 1em 0;
          display:inline-block;
        }
      }

      #change_this_ul_name_later {
        margin:0 0 0 1em;

        li {
          margin:0 0 0.4em 0;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# WooCommerce Product
--------------------------------------------------------------*/
.product {

  .left {
    width:47%;
    margin:3em 0 0 0;
    
    #onsale_block {
      float:left;
      position:absolute;
      z-index:99;

      .onsale {
        @include border-radius(5em);
        background:green;
        color:white;
        font-size:1em;
        text-align:center;
        padding:1em;
        float:left;
      }
    }

    #product_gallery_wrap {

      .flex-control-nav {
        @include ul-no-list-style;

        li {
          display:inline-block;
          margin:0 0.5em 0 0;
          cursor:pointer;
        }
      }
    }
  }

  .entry-summary {
    float:right;
    width:45%;
    margin:3em 0 0 0;
  }

  #product_meta {
    display:block;
    margin:2em 0;
    float:left;
    width:100%;

    section {
      float:left;
      margin:0 0 2em 0;
      width:100%;

      .s_title {
        float:left;
        width:100%;
        padding:0.5em 0;
        background:black;
        margin:0 0 0.8em 0;

        h2 {
          color:white;
          font-size:1.3em;
          float:left;
          padding:0 0 0 1em;
          font-weight:100;
        }

        .section_accordian_trigger {
          float:right;
          width:30px;
        }
      }

      .section_container {
        display:block;
        width:96%;
        margin:auto;

        .top_action {
          display:block;
          margin:1em 0;
          width:100%;
          float:left;
        }
      }

      .left, .right {
        width:49%;
      }

      &#related_products {

        ul {
          @include ul-no-list-style;

          li {
            @include image_responsive;
            @include ul-li-last-item-no-margin;
            display:inline-block;
            width:32%;
            margin:0 1em 0 0;

            .product_title {
              margin:1em 0;
              text-align:center;
              font-size:1.3em;
              display:block;
            }

            &:hover {
              @include transition(opacity 800ms);
              @include transition(transform 800ms);
              transform:scale(1.04);
              opacity:0.8;
            }
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#content_left {
  float:left;
  width:70%;
}

#full_width {
  width:100%;
  float:left;

  #main_page_headline {
    text-align:center;
    font-size:2.1em;
    margin:2em 0 2.5em 0;
    padding:0;
  }

  .product_category_landing_list_style {
    @include ul-no-list-style;

    li {
      display:inline-block;
      margin:0 1em 4em 0;
      width:30%;

      .product_item {
        text-align:center;

        a {
          color:#333;

          .thumbnail {

            &:hover {
              @include transition(opacity 800ms ease);
              opacity:0.7;
            }
          }

          .product_title {

          }
        }
      }

      &:nth-child(3n+3) {
        margin:0;
      }
    }
  }

  #product_call_to_action {
    @include image_responsive;
    float:left;
    width:100%;
    margin:2em 0;
  }
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#sidebar {
  float:right;
  width:25%;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display:inline;
  float:left;
  margin-right:1.5em;

  @include bp-small {
    width:100%;
    height:auto;
    margin:0;
  }
}

.alignright {
  display:inline;
  float:right;
  margin-left:1.5em;

  @include bp-small {
    width:100%;
    height:auto;
    float:left;
    margin:0;
  }
}

.aligncenter {
  clear:both;
  display:block;
  margin-left:auto;
  margin-right:auto;

  @include bp-small {
    width:100%;
    height:auto;
  }
}

/*--------------------------------------------------------------
 # Responsive Video Wrapper & Video Object
--------------------------------------------------------------*/
.videoWrapper {
  position:relative;
  padding-bottom:56.25%; /* 16:9 */
  padding-top:25px;
  height:0;

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

video {
  width:100% !important;
  height:auto !important;
  display:block;
}

/*--------------------------------------------------------------
# Scroll To Top
--------------------------------------------------------------*/
#scroll_top {
  display:block;
  width:100%;
  float:right;

  #scroll {
    width:50px;
    height:50px;
    float:right;
    position:relative;
    right:7.5%;
    margin:0 0 1.250em 0;

    @include bp-small {
      right:1%;
    }

    @include bp-medium {
      right:1%;
    }

    a {
      background:orange;/*TODO:change later*/;
      width:100%;
      height:100%;
      float:right;
      text-decoration:none;
      -webkit-border-radius:0.273em;
      -moz-border-radius:0.273em;
      border-radius:0.273em;

      &::after {
        content:"\f0d8";
        font-family:"FontAwesome";
        font-size:2.934em;
        color:white;
        text-align:center;
        font-weight:100;
        float:left;
        margin:0.035em 0 0 0.250em;
      }

      &:hover {
        transition:background 0.7s ease;
        background:orange;/*TODO:change later*/;
      }
    }
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  float:left;
  width:100%;
  padding:1.510em 0 0 0;
  margin:2em 0 0 0;
  border-top:0.11em solid #ccc;

  #top {
    margin:0 0 4em 0;

    #newsletter {
      width:300px;
      height:34px;
      background:white;
      margin:auto;
      border:0.11em solid #ccc;
      padding:0.5em;

      #submit {
        float:left;
        width:50px;
        height:32px;
      }

      #text {
        float:right;
        width:230px;
        padding:0.3em;
        font-size:1em;
      }
    }
  }

  .left, .right {
    width:50%;

    h2 {
      font-size:1em;
      color:#333;
      text-transform:uppercase;
      margin:0 0 0.8em 0;
      padding:0;
    }

    ul {
      @include ul-no-list-style;

      li {

        a {
          color:#333;
          font-size:0.9em;
        }
      }
    }
  }

  .logo_social {
    float:right;

    #logo {
      float:right;
    }

    #social {
      @include ul-no-list-style;
      width:155px;
      margin:auto;

      li {
        @include ul-li-last-item-no-margin;
        display:inline-block;
        margin:0 0.5em 0 0;

        a {
          font-size:2em;
          color:#333;
        }
      }
    }
  }

  #bottom {
    width:100%;
    float:left;
    margin:3em 0 1em 0;

    p {
      text-align:center;
      font-size:0.8em;
      color:#333;

      a {
        color:#333;
      }
    }
  }
}