/*--------------------------------------------------------------
 >>> TABLE OF CONTENTS:
 ----------------------------------------------------------------
 # Client Brand Colors
 # Login Screen Specific
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 # Client Brand Colors
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 # Login Screen Specific
 --------------------------------------------------------------*/
body {
  background: purple !important;
}
body #login {
  background: none;
}
body #login h1 a {
  width: 292px;
  background-size: 292px;
  background-image: url(https://dummyimage.com/300x80/9c9c9c/fff.png&text=logo) !important;
}
