/*--------------------------------------------------------------
 >>> TABLE OF CONTENTS:
 ----------------------------------------------------------------
 # Client Brand Colors
 # Social Brand Colors
 # Mixins
 # Normalize
 # Header
 # Menu - Desktop and Mobile
 # Home Page Specific
 # User Profile
 # WooCommerce Product
 # Content
 # Sidebar
 # Page Specific Content
 # Sidebar
 # Alignments
 # Responsive Video Wrapper & Video Object
 # Scroll To Top
 # Footer
 # Vendor Specific
 # Responsive (iphone/android)
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 # Client Brand Colors
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 # Social Brand Colors
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 # Mixins
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 # Normalize
 --------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  padding: 0;
}
a {
  color: blue;
  outline: none;
  text-decoration: none;
}
.wrapper {
  margin: auto;
  float: none;
  max-width: 1290px;
  display: block;
}
.pdf_link:after {
  content: "";
  background: url(../images/preload/pdf_link.png) center right no-repeat;
  padding: 0 1em 0 0.5em;
  white-space: nowrap;
}
.doc_link:after {
  content: "";
  background: url(../images/preload/word_link.png) center right no-repeat;
  padding: 0 1em 0 0.5em;
  white-space: nowrap;
}
.button_link {
  background: orange;
  padding: 0.438em 1.25em;
  /*TODO:change later*/
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  /*TODO:change later*/
}
.button_link:hover {
  transition: background 0.7s ease;
  background: orange;
}
.bold {
  font-weight: 900;
}
.telephone_link {
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.mobile_only {
  display: none;
}
@media only screen and (max-width: 30em) {
  .mobile_only {
    display: block;
  }
}
.row {
  float: left;
  width: 100%;
}
.row img {
  width: 100%;
  height: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.button {
  -webkit-border-radius: 0.66em;
  -moz-border-radius: 0.66em;
  border-radius: 0.66em;
  background: black;
  color: white;
  padding: 0.54em 0.8em;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9em;
}
.button:hover {
  -webkit-transition: background 800ms;
  -moz-transition: background 800ms;
  -ms-transition: background 800ms;
  -o-transition: background 800ms;
  transition: background 800ms;
  background: purple;
}
/*--------------------------------------------------------------
 # Header
 --------------------------------------------------------------*/
header {
  float: left;
  width: 100%;
  padding: 2em 0;
}
header #logo {
  width: auto;
  float: left;
}
header #menu {
  float: right;
}
header #menu ul {
  list-style-type: none;
  margin: 1em 0 0 0;
}
header #menu ul li {
  margin: 0 1em 0 0;
  float: left;
}
header #menu ul li:last-child {
  padding: 0;
  margin: 0;
}
header#internal {
  border-bottom: 0.022em solid #ccc;
}
/*--------------------------------------------------------------
 # Menu - Desktop and Mobile
 --------------------------------------------------------------*/
#search_mobile {
  display: none;
}
#menu_close {
  display: none;
  float: right;
  right: 2%;
  outline: none;
  border: none;
  background: none;
}
#menu_close::after {
  content: "\f057";
  font-family: "FontAwesome";
  font-size: 2.934em;
  color: #ff7878;
}
@media only screen and (max-width: 30em) {
  #menu_close {
    display: block;
  }
}
#menu_btn {
  background: none;
  float: right;
  outline: none;
  display: none;
  margin: 0;
  top: 4em;
  right: 2%;
  border: none;
  position: absolute;
}
#menu_btn::after {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 2.934em;
  color: #ff7878;
  float: left;
}
@media only screen and (max-width: 30em) {
  #menu_btn {
    display: block;
  }
}
#menu {
  float: right;
  width: auto;
  clear: both;
  margin: -1em 0 0 0;
}
@media only screen and (max-width: 30em) {
  #menu {
    background: #ff7878;
    width: 100%;
    height: 576px;
    float: left;
    position: absolute;
    top: 7%;
    z-index: 999;
  }
}
#menu .menu li {
  display: inline-block;
  margin: 0 1.3em 0 0;
  position: relative;
  /*TODO:change later*/
}
#menu .menu li a {
  font-size: 1em;
  color: gray;
}
#menu .menu li:hover > .sub-menu {
  display: block;
}
#menu .menu li.current_page_item a {
  color: yellow;
}
#menu .menu .sub-menu {
  display: none;
  position: absolute;
  background: #096cc8;
  border: 1px solid #ccc;
  padding: 0;
  width: 200px;
  z-index: 2;
}
@media only screen and (max-width: 30em) {
  #menu .menu .sub-menu {
    background: none;
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 0.5em 0 0 0;
    float: left;
    padding: 0.5em 0;
  }
}
#menu .menu .sub-menu li {
  display: block;
  float: left;
  padding: 0.5em 0 0.5em 0.5em;
  width: 95%;
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 30em) {
  #menu .menu .sub-menu li {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
  }
}
#menu .menu .sub-menu li a {
  color: white;
}
#menu .menu .sub-menu li a:hover {
  text-decoration: none;
  color: black;
}
/*--------------------------------------------------------------
 # Home Page Specific
 --------------------------------------------------------------*/
#product_banner {
  float: left;
  width: 100%;
  position: relative;
}
#product_banner img {
  width: 100%;
  height: auto;
}
#product_banner #cta_headline {
  bottom: 3em;
  width: 80%;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
}
#product_banner #cta_headline h2 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 100;
}
#under_header_two_boxes .left, #under_header_two_boxes .right {
  width: 49.9%;
}
#home_slider {
  float: left;
  width: 100%;
}
#home_slider ul {
  list-style-type: none;
}
#home_slider ul li {
  width: 300px;
  float: left;
  margin: 0 1em 0 0;
}
#home_slider ul li img {
  width: 100%;
  height: auto;
}
.button_block {
  float: none;
  width: 140px;
  right: 0;
  left: 0;
  margin: auto;
  position: relative;
  bottom: 16em;
}
.home_button {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  color: white;
  font-size: 1em;
  text-align: center;
  border: 0.111em solid white;
  padding: 0.5em 1em;
}
.home_button:hover {
  -webkit-transition: background 800ms ease;
  -moz-transition: background 800ms ease;
  -ms-transition: background 800ms ease;
  -o-transition: background 800ms ease;
  transition: background 800ms ease;
  background: white;
  color: #333;
}
/*--------------------------------------------------------------
 # User Profile
 ---------------------------------------------------------------*/
#profile {
  display: block;
  margin: 3em 0 0 0;
}
#profile #edit_profile {
  display: block;
  width: 100%;
  margin: 1em 0 0 0;
}
#profile #edit_profile a {
  font-size: 1em;
}
#profile #edit_profile a:before {
  content: '\f040';
  font-family: "FontAwesome";
  font-size: 1em;
  color: black;
  margin: 0 0.4em 0 0;
}
#profile .left {
  width: 30%;
}
#profile .left #profile_image {
  margin: 0 0 1em 0;
}
#profile .left #profile_image img {
  width: 100%;
  height: auto;
}
#profile .left #profile_name {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0 0 0.2em 0;
}
#profile .left #profile_location {
  font-size: 0.91em;
  font-style: italic;
  margin: 0 0 0.999em 0;
}
#profile .left #profile_category {
  list-style-type: none;
}
#profile .left #profile_category li {
  display: inline-block;
  width: auto;
}
#profile .left #profile_category li:after {
  content: ', ';
  font-family: "FontAwesome";
  font-size: 1em;
  color: black;
  margin: 0 0.22em 0 0;
}
#profile .right {
  width: 60%;
}
#profile .right section {
  margin: 0 0 3em 0;
}
#profile .right section .section_title {
  padding: 0.5em 0;
  margin: 0 0 0.5em 0;
  background: black;
}
#profile .right section .section_title .title {
  font-size: 1.2em;
  color: white;
  padding: 0 0 0 0.5em;
  text-align: left;
}
#profile .right section .content {
  display: block;
  margin: auto;
  width: 95%;
}
#profile .right section #gallery_items {
  list-style-type: none;
}
#profile .right section #gallery_items li {
  width: 23%;
  margin: 0 0.5em 1em 0;
  display: inline-block;
}
#profile .right section #gallery_items li img {
  width: 100%;
  height: auto;
}
#profile .right section #change_this_ul_name_later {
  margin: 0 0 0 1em;
}
#profile .right section #change_this_ul_name_later li {
  margin: 0 0 0.4em 0;
}
/*--------------------------------------------------------------
 # WooCommerce Product
 --------------------------------------------------------------*/
.product #product_gallery_wrap {
  width: 47%;
  float: left;
  margin: 3em 0 0 0;
}
.product .entry-summary {
  float: right;
  width: 45%;
  margin: 3em 0 0 0;
}
.product #product_meta {
  display: block;
  margin: 2em 0;
  float: left;
  width: 100%;
}
.product #product_meta section {
  float: left;
  margin: 0 0 2em 0;
  width: 100%;
}
.product #product_meta section .s_title {
  float: left;
  width: 100%;
  padding: 0.5em 0;
  background: black;
  margin: 0 0 0.8em 0;
}
.product #product_meta section .s_title h2 {
  color: white;
  font-size: 1.3em;
  float: left;
  padding: 0 0 0 1em;
}
.product #product_meta section .s_title .section_accordian_trigger {
  float: right;
  width: 30px;
}
.product #product_meta section .section_container {
  display: block;
  width: 96%;
  margin: auto;
}
.product #product_meta section .section_container .top_action {
  display: block;
  margin: 1em 0;
  width: 100%;
  float: left;
}
.product #product_meta section .left, .product #product_meta section .right {
  width: 49%;
}
.product #product_meta section#related_products ul {
  list-style-type: none;
}
.product #product_meta section#related_products ul li {
  display: inline-block;
  width: 32%;
  margin: 0 1em 0 0;
}
.product #product_meta section#related_products ul li img {
  width: 100%;
  height: auto;
}
.product #product_meta section#related_products ul li:last-child {
  padding: 0;
  margin: 0;
}
.product #product_meta section#related_products ul li .product_title {
  margin: 1em 0;
  text-align: center;
  font-size: 1.3em;
  display: block;
}
.product #product_meta section#related_products ul li:hover {
  -webkit-transition: opacity 800ms;
  -moz-transition: opacity 800ms;
  -ms-transition: opacity 800ms;
  -o-transition: opacity 800ms;
  transition: opacity 800ms;
  -webkit-transition: transform 800ms;
  -moz-transition: transform 800ms;
  -ms-transition: transform 800ms;
  -o-transition: transform 800ms;
  transition: transform 800ms;
  transform: scale(1.04);
  opacity: 0.8;
}
/*--------------------------------------------------------------
 # Content
 --------------------------------------------------------------*/
#content_left {
  float: left;
  width: 70%;
}
#full_width {
  width: 100%;
  float: left;
}
#full_width #main_page_headline {
  text-align: center;
  font-size: 2.1em;
  margin: 2em 0 2.5em 0;
  padding: 0;
}
#full_width .product_category_landing_list_style {
  list-style-type: none;
}
#full_width .product_category_landing_list_style li {
  display: inline-block;
  margin: 0 1em 4em 0;
  width: 30%;
}
#full_width .product_category_landing_list_style li .product_item {
  text-align: center;
}
#full_width .product_category_landing_list_style li .product_item a {
  color: #333;
}
#full_width .product_category_landing_list_style li .product_item a .thumbnail:hover {
  -webkit-transition: opacity 800ms ease;
  -moz-transition: opacity 800ms ease;
  -ms-transition: opacity 800ms ease;
  -o-transition: opacity 800ms ease;
  transition: opacity 800ms ease;
  opacity: 0.7;
}
#full_width .product_category_landing_list_style li:nth-child(3n+3) {
  margin: 0;
}
#full_width #product_call_to_action {
  float: left;
  width: 100%;
  margin: 2em 0;
}
#full_width #product_call_to_action img {
  width: 100%;
  height: auto;
}
/*--------------------------------------------------------------
 # Sidebar
 --------------------------------------------------------------*/
#sidebar {
  float: right;
  width: 25%;
}
/*--------------------------------------------------------------
 # Alignments
 --------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
@media only screen and (max-width: 30em) {
  .alignleft {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
@media only screen and (max-width: 30em) {
  .alignright {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
  }
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 30em) {
  .aligncenter {
    width: 100%;
    height: auto;
  }
}
/*--------------------------------------------------------------
 # Responsive Video Wrapper & Video Object
 --------------------------------------------------------------*/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
video {
  width: 100% !important;
  height: auto !important;
  display: block;
}
/*--------------------------------------------------------------
 # Scroll To Top
 --------------------------------------------------------------*/
#scroll_top {
  display: block;
  width: 100%;
  float: right;
}
#scroll_top #scroll {
  width: 50px;
  height: 50px;
  float: right;
  position: relative;
  right: 7.5%;
  margin: 0 0 1.25em 0;
}
@media only screen and (max-width: 30em) {
  #scroll_top #scroll {
    right: 1%;
  }
}
@media only screen and (max-width: 40em) {
  #scroll_top #scroll {
    right: 1%;
  }
}
#scroll_top #scroll a {
  background: orange;
  width: 100%;
  /*TODO:change later*/
  height: 100%;
  float: right;
  text-decoration: none;
  -webkit-border-radius: 0.273em;
  -moz-border-radius: 0.273em;
  border-radius: 0.273em;
  /*TODO:change later*/
}
#scroll_top #scroll a::after {
  content: "\f0d8";
  font-family: "FontAwesome";
  font-size: 2.934em;
  color: white;
  text-align: center;
  font-weight: 100;
  float: left;
  margin: 0.035em 0 0 0.25em;
}
#scroll_top #scroll a:hover {
  transition: background 0.7s ease;
  background: orange;
}
/*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
footer {
  float: left;
  width: 100%;
  padding: 1.51em 0 0 0;
  margin: 2em 0 0 0;
  border-top: 0.11em solid #ccc;
}
footer #top {
  margin: 0 0 4em 0;
}
footer #top #newsletter {
  width: 300px;
  height: 34px;
  background: white;
  margin: auto;
  border: 0.11em solid #ccc;
  padding: 0.5em;
}
footer #top #newsletter #submit {
  float: left;
  width: 50px;
  height: 32px;
}
footer #top #newsletter #text {
  float: right;
  width: 230px;
  padding: 0.3em;
  font-size: 1em;
}
footer .left, footer .right {
  width: 50%;
}
footer .left h2, footer .right h2 {
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  margin: 0 0 0.8em 0;
  padding: 0;
}
footer .left ul, footer .right ul {
  list-style-type: none;
}
footer .left ul li a, footer .right ul li a {
  color: #333;
  font-size: 0.9em;
}
footer .logo_social {
  float: right;
}
footer .logo_social #logo {
  float: right;
}
footer .logo_social #social {
  list-style-type: none;
  width: 155px;
  margin: auto;
}
footer .logo_social #social li {
  display: inline-block;
  margin: 0 0.5em 0 0;
}
footer .logo_social #social li:last-child {
  padding: 0;
  margin: 0;
}
footer .logo_social #social li a {
  font-size: 2em;
  color: #333;
}
footer #bottom {
  width: 100%;
  float: left;
  margin: 3em 0 1em 0;
}
footer #bottom p {
  text-align: center;
  font-size: 0.8em;
  color: #333;
}
footer #bottom p a {
  color: #333;
}
